/* Global Layout Set-up */
* { 
  box-sizing: border-box;
}
  
body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #222;
  background: #fff;
}
/* Link Styles */

a {
  text-decoration: none;
  color: #999;
}
a:hover {
  color: #6633ff;
}

/* Section Styles */

.main-nav {
  width: 100%;
  background: black;
  min-height: 30px;
  padding: 10px;
  position: fixed;
  text-align: center;
  z-index: 1;
}
.nav {
  display: inline-block;
  justify-content: space-between;
  font-weight: 700;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav .name {
    display: block;
    margin-right: auto;
    color: white;
}
.nav li {
  padding: 5px 10px 10px 10px;
}
.nav a {
  transition: all .5s;
}
.nav a:hover {
  color: white
}

header {
  text-align: center;
  background: url('https://www.cappex.com/sites/default/files/styles/max_1800/public/2019-04/virginiabeach_citycollege.jpg?itok=icOEnaDh') no-repeat top center ;
  background-size: cover;
  overflow: hidden;
  padding-top: 60px;
}
header {
  line-height: 1.5;
}
header .profile-image {
  margin-top: 50px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid rgb(107, 104, 104);
  transition: all .5s;
}
header .profile-image:hover {
  transform: scale(1.2) rotate(5deg);
}

.exp-header {
    text-align: center;
    background: url('https://www.planetware.com/wpimages/2018/08/virginia-virginia-beach-where-to-stay-families.jpg') no-repeat top center ;
    background-size: cover;
    overflow: hidden;
    padding-top: 100px;
    height: 200px;
}
.tag {
  background-color: #d1cfcf;
  color: black;
  padding: 10px;
  border-radius: 5px;
  display: table;
  margin: 10px auto;
} 
.location {
  background-color: rgb(107, 104, 104);
  color: rgb(135, 187, 235);
}

main {
  margin: 0;
  padding: 10px;
  background:rgb(107, 104, 104);
}

.self-info {
  margin: 0;
}

.exp-info {
    padding: 12% 0;
}
.column {
  margin: 0 auto;
  text-align: left;
  background: #fff;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 4px solid #ccc;
  border-left: 1px solid #ccc;
  border-radius: 6px;
}
.column:hover {
  border-bottom-color: rgb(135, 187, 235);
}


ul.skills {
  padding: 0;
  text-align: center;
}

.skills li {
  border-radius: 6px;
  display: inline-block;
  background: #ff9904;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}

.skills li:nth-child(odd) {
  background: #0399ff;
}

ul.experience {
  padding: 0;
  text-align: center;
}

footer {
  margin-top: 0;
  width: 100%;
  min-height: 30px;
  padding: 20px;
  background: #d1cfcf;
}

footer .copyright {
  top: -8px;
  font-size: .75em;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
  padding: 5px;
}

a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .4;
  transition: all .5s;
}
a.github {
  background-image: url(images/github.svg);
  margin: 0;
}
a.social:hover {
  opacity: 1;
}
.clearfix {
  clear: both;
}